.videos-playlist-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.playlist-cover {
  width: 30%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cover-image {
  width: 100%;
  border-radius: 10px;
}

.playlist-cover h3 {
  margin-top: 10px;
  font-size: 1.5em;
}

.playlist-cover p {
  margin: 5px 0;
  color: gray;
}

.playlist-actions {
  margin-top: 10px;
}

.playlist-actions button {
  padding: 10px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.play-all-btn {
  background-color: #ff0000;
  color: white;
}

.shuffle-btn {
  background-color: #f1f1f1;
}

.video-list {
  width: 70%;
}

.video-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.video-index {
  width: 30px;
  font-weight: bold;
}

.video-thumbnail {
  width: 150px;
  height: auto;
  margin-right: 20px;
  border-radius: 5px;
}

.video-info h4 {
  margin: 0;
  font-size: 1.2em;
}

.video-info p {
  color: gray;
}

.video-duration {
  font-size: 0.9em;
  color: black;
}

.more-options-btn {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
}
