/* src/components/navbar/navbar.component.css */
.custom-navbar {
  background-color: #212529 !important; /* Define a cor de fundo da Navbar */
  color: #ffffff; /* Define a cor do texto */
}

.custom-navbar .nav-link {
  color: #ffffff; /* Cor dos links */
  font-size: medium;
  font-weight: bold;
}

.custom-navbar .nav-link:hover {
  color: #0249a8; /* Cor ao passar o mouse */
}

.custom-navbar .navbar-brand img {
  max-width: 100%;
  height: auto;
}

.custom-navbar .navbar-brand img {
  border-radius: 15px;
}

.navbar-toggler {
  color: white;
  background-color: #004aad;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #004aad;
}
