/* src/components/navbar/navbar.component.css */
.custom-navbar {
  background-color: #212529 !important; /* Define a cor de fundo da Navbar */
  color: #ffffff; /* Define a cor do texto */
}

.custom-navbar .nav-link {
  color: #ffffff; /* Cor dos links */
}

.custom-navbar .nav-link:hover {
  color: #0249a8; /* Cor ao passar o mouse */
}

.custom-navbar .navbar-brand img {
  max-width: 100%;
  height: auto;
}
